<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device-width, 
    initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Prodi</h1>
    
    <ul class="nav nav-underline">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/prodi">Prodi</a>
        </li>
        
      </ul>
    <p>ini halaman Prodi</p>
<div class="container mt-5">
    <h1><%= title %></h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nama Prodi</th>
                <th>Fakultas</th>
                <th>Singkatan</th>
            </tr>

        </thead>
        <tbody>
            <% prodi.forEach(data => { %>
                <tr>
            <td><%= data.namaProdi %></td>
            <td><%= data.Fakultas %></td>
            <td><%= data.Singkatan %></td>
              <% }) %>

                </tr>
                
        </tbody>

    </table>
</div>
    

</body>
</html>